<h1 style="font-weight: bold; text-align: center;">List Employee</h1>

<button nz-button nzType="primary" nzShape="circle" title="Add Employee" (click)="showModalCreate()" *ngIf="isRole">
  <i nz-icon nzType="user-add" nzTheme="outline"></i>
</button>

<nz-input-group [nzSuffix]="suffixIconSearch" style="width: 300px; margin-left: 10px;">
  <input type="text" nz-input [(ngModel)]="searchText" autocomplete="off"  placeholder="input search text" />
</nz-input-group>
<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>

<button nz-button nzType="primary" title="Reload Page" (click)="reLoad()" style="margin-left: 10px;">Reload</button>


<!-- Show Modal Create Employee -->
  <nz-modal [(nzVisible)]="isShowCreate" nzTitle="Add Employee" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="confirm()">Submit</button>
      </ng-template>
      <form nz-form [formGroup]="validateForm" style="margin: 0px" (ngSubmit)="confirm()">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="fullName">Full Name</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid FullName!">
              <input type="text" nz-input formControlName="fullName" id="fullName" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>Email</nz-form-label>
            <nz-form-control nzErrorTip="The input is not valid Email!" [nzSm]="18" [nzXs]="24">
              <nz-input-group>
                <input type="email" nz-input formControlName="email" placeholder="Email" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>Date of birth</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-group>
                <nz-date-picker class="datetime" nzFormat="dd/MM/yyyy" formControlName="dateOfBirth"></nz-date-picker>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>Gender</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-select formControlName="gender">
                <nz-option nzValue="Male" nzLabel="Male">
                </nz-option>
                <nz-option nzValue="Female" nzLabel="Female">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Phone Number</nz-form-label>
            <nz-form-control nzErrorTip="The input is not valid Phone Number!" [nzSm]="18" [nzXs]="24">
              <nz-input-group>
                 <input nz-input formControlName="phoneNumber"
                 placeholder="Phone Number" type="text"/>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>StartDate</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-input-group>
                <nz-date-picker class="datetime" nzFormat="dd/MM/yyyy" formControlName="startDate"></nz-date-picker>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime">Department</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-select formControlName="department">
                <nz-option *ngFor="let department of listDepartment" [nzLabel]="department.departmentName"
                  [nzValue]="department.departmentId">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>Role</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24">
              <nz-select formControlName="role">
                <nz-option nzValue="1" nzLabel="Admin">
                </nz-option>
                <nz-option nzValue="2" nzLabel="Director">
                </nz-option>
                <nz-option nzValue="3" nzLabel="Manager">
                </nz-option>
                <nz-option nzValue="4" nzLabel="Leader">
                </nz-option>
                <nz-option nzValue="5" nzLabel="Staff">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
         
          
      </form>
    
  </nz-modal>


<!-- Table -->
<nz-table #basicTable [nzData]= "idDepartment==1 ? listEmployee : listED" class="abc" style="margin-top: 10px;">
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>Full Name</th>
      <th>Gender</th>
      <th>Email</th>
      <th>Start Date</th>
      <th>Department</th>
      <th>Role</th>
      <th *ngIf="isRole">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data | filter:searchText">
      <td>{{data.employeeId}}</td>
      <td>{{data.fullName}}</td>
      <td>{{data.gender}}</td>
      <td>{{data.email}}</td>
      <td>{{data.startDate | date: 'dd/MM/yyyy'}}</td>
      <td>
        <div *ngFor="let department of listDepartment">
            <div *ngIf="department.departmentId==data.departmentId">
              {{department.departmentName}}
            </div>
        </div>
      </td>
      <!-- <td>{{(data.roleId==1) ? 'Admin': 'Staff'}}</td> -->
      <td> {{ (data.roleId==1) ? 'Admin' : ((data.roleId==4) ? "Leader" : "Staff") }} </td>
      <td *ngIf="isRole">
        <button nz-button nzType="primary" nzShape="circle" title="Edit Employee" (click)="showModalEdit(data.employeeId)"><i nz-icon nzType="edit"></i></button>
        <button nz-button nzType="primary" nzShape="circle" title="Delete Employee" (click)="showConfirm(data.employeeId)" style="margin-left: 8px;" ><i nz-icon nzType="delete"></i></button>
        <button nz-button nzType="primary" nzShape="circle" title="Reset Password" (click)="resetPassword(data.employeeId)" style="margin-left: 8px;" ><i nz-icon nzType="retweet" nzTheme="outline"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table> 

<!-- Show Modal Edit Employee -->
  <nz-modal
    [(nzVisible)]="isShowEdit"
    nzTitle="Edit Employee"
    nzCentered
    (nzOnCancel)="handleCancelMiddle()"
    (nzOnOk)="submitEdit()"
  >
    <ng-container *nzModalContent>
      
      <form nz-form [formGroup]="validateFormEdit" style="margin: 0px" (ngSubmit)="submitEdit()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="fullName">Full Name</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid FullName!">
            <input type="text" nz-input formControlName="fullName" id="fullName" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>Email</nz-form-label>
          <nz-form-control nzErrorTip="The input is not valid Email!" [nzSm]="18" [nzXs]="24">
            <nz-input-group>
              <input type="email" nz-input formControlName="email" placeholder="Email" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>Date of birth</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-input-group>
              <nz-date-picker class="datetime" nzFormat="dd/MM/yyyy" formControlName="dateOfBirth"></nz-date-picker>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>Gender</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select formControlName="gender">
              <nz-option nzValue="Male" nzLabel="Male">
              </nz-option>
              <nz-option nzValue="Female" nzLabel="Female">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Phone Number</nz-form-label>
          <nz-form-control nzErrorTip="The input is not valid Phone Number!" [nzSm]="18" [nzXs]="24">
            <nz-input-group>
               <input nz-input formControlName="phoneNumber"
               placeholder="Phone Number" type="text"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>StartDate</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-input-group>
              <nz-date-picker class="datetime" nzFormat="dd/MM/yyyy" formControlName="startDate"></nz-date-picker>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime">Department</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select formControlName="department">
              <nz-option *ngFor="let department of listDepartment" [nzLabel]="department.departmentName"
                [nzValue]="department.departmentId">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>Role</nz-form-label>
          <nz-form-control [nzSm]="18" [nzXs]="24">
            <nz-select formControlName="role">
              <nz-option nzValue="1" nzLabel="Admin">
                </nz-option>
                <nz-option nzValue="2" nzLabel="Director">
                </nz-option>
                <nz-option nzValue="3" nzLabel="Manager">
                </nz-option>
                <nz-option nzValue="4" nzLabel="Leader">
                </nz-option>
                <nz-option nzValue="5" nzLabel="Staff">
                </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
       
        
    </form>
    </ng-container>
  </nz-modal>



