<div class="container">
    <form nz-form [formGroup]="validateForm" class="change-password-form" (submit)="submitForm()">
      <div class="title">
        <h1>Đổi mật khẩu</h1>
      </div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Vui lòng nhập mật khẩu hiện tại!">
          <nz-input-group>
            <input type="password" nz-input formControlName="currentPassword" placeholder="Mật khẩu hiện tại" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTpl">
          <nz-input-group>
            <input type="password" nz-input formControlName="newPassword" placeholder="Mật khẩu mới" />
          </nz-input-group>
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Vui lòng nhập mật khẩu mới!
            </ng-container>
            <ng-container *ngIf="control.hasError('same')">
              Mật khẩu mới trùng mật khẩu cũ
            </ng-container>
            <ng-container *ngIf="control.hasError('pattern')">
              Mật khẩu phải bao gồm 1 chữ hoa, 1 chữ thường, 1 số, 1 ký tự đặc biệt và ít nhất 8 ký tự.
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordErrorTplConfirmPassword">
          <nz-input-group>
            <input type="password" nz-input formControlName="rePassword" placeholder="Nhập lại mật khẩu mới" />
          </nz-input-group>
          <ng-template #passwordErrorTplConfirmPassword let-control>
            <ng-container *ngIf="control.hasError('required')">
              Vui lòng nhập lại mật khẩu mới!
            </ng-container>
            <ng-container *ngIf="control.hasError('confirm')">
              Mật khẩu mới không trùng khớp!
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <button id="btnSubmit" nz-button class="login-form-button login-form-margin change-password-button"
        [nzType]="'primary'">Đổi mật
        khẩu</button>
    </form>
  </div>