.container {
    display: flex;
    height: 80%;
}

.title {
    text-align: center;
}

.change-password-form {
    max-width: 350px;
    margin: auto;
    padding: 20px;
    background-color: rgb(240, 242, 243);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.change-password-button {
    width: 100%;
}

body {
    background-image: linear-gradient(to bottom, rgb(177, 99, 157), rgb(110, 98, 214));
}