
<nz-page-header style="background-color:rgb(251, 251, 251)">
    <nz-page-header-title style="font-weight: bold">
        List Request Approval
    </nz-page-header-title>
    <nz-page-header-extra>
        <button nz-button nz-type="primary" (click)=showModal()>
            Create New
        </button>
        <nz-modal [(nzVisible)]="isVisible" nzTitle="Information Approval" [nzFooter]="modalFooter" (nzOnCancel)="handleCancle()">
            <ng-template #modalFooter>
                <button nz-button nzType="default" (click)="handleCancle()">Cancle</button>
                <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">OK</button>
            </ng-template> 
            <form nz-form [formGroup]="validateForm">
                
                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type" nzRequired>Loại ngày nghỉ</nz-form-label>
                    <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="vui lòng chọn loại ngày nghỉ">
                        <nz-select id="type" formControlName="type" nzPlaceHolder="Chọn loại ngày nghỉ" (ngModelChange)="TypeChange($event)">
                            <nz-option nzValue="{{enum.key}}" *ngFor="let enum of typeList | keyvalue" nzLabel="{{enum.value}}"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="time" nzRequired>Ngày nghỉ</nz-form-label>
                    <nz-form-control nzErrorTip="vui lòng chọn thời gian nghỉ" [nzSm]="18" [nzXs]="24">
                        <nz-range-picker formControlName="time"></nz-range-picker>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <label nz-col nz-span="6"></label>
                    <nz-form-control>
                        <label nz-checkbox formControlName="half" [(ngModel)]="isHalf">Nghỉ nửa ngày</label>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item *ngIf="isHalf">
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="typeoftime" nzRequired>Buổi nghỉ</nz-form-label>
                    <nz-form-control nzErrorTip="vui lòng chọn buổi nghỉ">
                        <nz-select  id="typeoftime"
                        formControlName="typeoftime"
                        nzPlaceHolder="chọn buổi nghỉ">
                            <nz-option nzValue="Morning" nzLabel="sáng"></nz-option>
                            <nz-option nzValue="Afternoon" nzLabel="chiều"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzFor="" nzRequired>Lý do nghỉ</nz-form-label>
                    <nz-form-control nzErrorTip="Vui lòng điền lý do">
                        <textarea rows="4" nz-input formControlName="reason"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </nz-modal>
    </nz-page-header-extra>
</nz-page-header>
<nz-table #rowSelectionTable [nzData]="(idRole==1 || idRole==4) ? listAdmin : listEmTotal">
    <thead>
        <tr>
            <th>Thời gian</th>
            <th>Loại ngày nghỉ</th>
            <th>Lý do</th>
            <th>Trạng thái</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
            <td>{{data.fromTime|date:'dd/MM/yyyy'}}-{{data.toTime|date:'dd/MM/yyyy'}}</td>
            <td>{{setType(data.type)}}</td>
            <td>{{data.reason}}</td>
            <td><nz-tag [nzColor]="data.status==1? 'green': (data.status==-1?'red':'gold')">{{ data.status==1? 'Đã Duyệt': (data.status==-1?'từ chối':'chờ duyệt')}} </nz-tag></td>
            <td><button nz-button nzType="primary" 
                nz-popconfirm
                nzPopconfirmTitle="Bạn có chắc muốn xóa yêu cầu này?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="DeleteRequestApproval(data.id)"
                 >Xóa</button>
                 <button *ngIf="idRole==4" nz-button nzType="primary" nzDanger (click)="Accept(data.id)" >Duyệt</button>
                </td>
        </tr>
        
    </tbody>
</nz-table>




